page-about {

  .banner {
  position: relative;
    .background {
      opacity: 0.5;
      width: 100%;

    }
    .avatar {
      position: absolute;
      border-radius: 50%;
      height:70px;
      right: 40%;
      top:90%;
    }
  }
  .headline {
 margin-top: 40px;
  }

  ion-slides {

  }


}
